DATABASE_URL=mysql+pymysql://root:password@localhost:3306/auth_db
SECRET_KEY=
JWT_EXPIRES_DAYS=7

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

MAIL_PORT=
MAIL_SERVER=
MAIL_FROM_NAME=

MAIL_STARTTLS=True
MAIL_SSL_TLS=False
USE_CREDENTIALS=True
VALIDATE_CERTS=True